.tableWrap {
  overflow-x: none;
  overflow-y: none;
  border: 1px solid black;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.crewTable {
  width: 900px;
  border-collapse: collapse;
  border: 1px solid #000;
}

.crewTable th,
.crewTable td {
  border: 1px solid #000;    /* 모든 셀 선 */
}

.th,
.td {
  padding: 8px 6px;
  font-size: 13px;
  white-space: nowrap;
}

/* 모바일 */
@media (max-width: 640px) {
  .th,
  .td {
    font-size: 8px;
  }
}

@media (max-width: 390px) {
  .th,
  .td {
    font-size: 6px;
  }
}
