.tableWrap {
  overflow-x: auto;
  border: 1px solid #d7dbe3;
  border-radius: 12px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.crewTable {
  width: 900px;
  border-collapse: collapse;
}

.th,
.td {
  padding: 8px 6px;
  font-size: 13px;
  white-space: nowrap;
}

/* 모바일 */
@media (max-width: 640px) {
  .th,
  .td {
    font-size: 8px;
  }
}

@media (max-width: 390px) {
  .th,
  .td {
    font-size: 6px;
  }
}
